/* swiper css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-500);
  backdrop-filter: blur(5px);
  /* this is to match the background as my website since that is also moving with the slider */
  background-color: #841aff;
}
/* for the images inside the swiper js aka the card images*/
.swiper-slide .work-img {
  display: inline-block;
  position: relative;
  right: 0.5rem;
  align-items: center;
  width: 550px;
  height: 300px;
  object-fit: contain;
}
@media screen and (max-width: 603px) {
  .swiper-slide .work-img {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
/* css for the elements being swiped through */
/* container to hold the title and the description */
.my-work-title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 0.9em;
  max-height: 100vh;
  max-width: 100vw;
  background-color: var(--content-bg);
  border: 1px solid var(--white-alpha);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
/* title for the begining element */
.my-work-title {
  align-self: center;
  font-size: var(--font-size-500);
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
/* description for the title */
.work-desc {
  font-size: var(--font-size-300);
  font-weight: 300;
  color: var(--text-color);
}
/* these are going to be the card elements for the projects or work same classes for one look*/

/* container for the card */
.work-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30rem;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 0.3em;
  transform-style: preserve-3d;
  background-color: var(--content-bg);
  border: 1px solid var(--white-alpha);
}
.work-container:hover {
  z-index: 2;
}
/* title for the card */
.work-title-container {
  margin-bottom: 0.5rem;
}
/* title for the card */
.work-title {
  font-size: var(--font-size-500);
  font-weight: 500;
  color: var(--text-color);
}
/* a short description about the project/app */
.app-desc {
  font-size: var(--font-size-150);
  font-weight: 100;
  color: var(--text-color);
}
