.auto-typer-container {
  position: relative;
  top: 10rem;
  margin-bottom: 50rem;
  text-align: center;
  color: var(--text-color);
  font-size: 3rem;
  z-index: -1;
}
/* makes the navbar sticky */
.nav-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
