.App {
  text-align: center;
}
.auto-typer-container {
  position: relative;
  top: 20rem;
  font-size: 3rem;
  z-index: -1;
}
/* makes the navbar sticky */
.nav-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*-----------might use stuff below later--------- */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
