* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
}

:root {
  --text-color: #fff0e0;
  --bg-color: #370665;
  --nav-bg-color: #75a2fc96;
  --scroll-bg-color: #a557ffe5;
  --scroll-hover-color: #440e77;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7700ffe5;
}

main {
  min-height: 100vh;
  z-index: -1;
  color: var(--text-color);
  display: flex;
  text-align: center;
  justify-content: center;
}
/* scrollbar css */
::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-bg-color);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border: 0.25em solid var(--bg-color);
  border-radius: 80vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover-color);
  border: 0.25em solid var(--scroll-hover-color);
}
